@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

@theme {
  --color-background: #F8F9FA;
  --color-secondary-background: #E9ECEF;
  --color-active-background: #CED4DA;
  --color-text: #212529;

  --font-roboto: "Roboto", sans-serif;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1060px;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-roboto);
}